.navbar {
  background-color: #ff4600;
}

.navbar-toggler {
  color: #ff4600;
  background-color: aliceblue;
}

.nav-link {
  color: white;
  margin-right: 20px;
}
.navbar-brand {
  font-family: fira sans;
  font-size: 32px;
  color: aliceblue;
}

@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
  }

  .carousel img {
    height: 620px;
  }

  .nav-link {
    color: white;
    margin-right: 20px;
  }
  .navbar-brand {
    font-family: fira sans;
    font-size: 32px;
    color: aliceblue;
  }
}
